# ===============================
# YOLO & ML Project Specific
# ===============================

# YOLO training runs
runs/

# Dataset folders
train/
valid/
test/
dataset/
VEHICLE_DATASET/

# Model weights
*.pt

# Excel logs
*.xlsx

# Images (optional - remove if you want to upload sample images)
*.jpg
*.png
